In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("owid-covid-data.csv")
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68300,ZWE,Africa,Zimbabwe,2021-02-07,34552.0,65.0,166.286,1326.0,10.0,15.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68301,ZWE,Africa,Zimbabwe,2021-02-08,34658.0,106.0,158.571,1339.0,13.0,15.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68302,ZWE,Africa,Zimbabwe,2021-02-09,34781.0,123.0,138.143,1353.0,14.0,14.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68303,ZWE,Africa,Zimbabwe,2021-02-10,34864.0,83.0,128.571,1364.0,11.0,13.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68304,ZWE,Africa,Zimbabwe,2021-02-11,34864.0,0.0,99.000,1364.0,0.0,10.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

#### Fall nul valuse

In [3]:
df.shape

(68305, 59)

In [4]:
df.iso_code.isnull().sum()

3022

In [5]:
df.isnull().sum()

iso_code                                  3022
continent                                 3418
location                                     0
date                                         0
total_cases                                755
new_cases                                  757
new_cases_smoothed                        1758
total_deaths                              9647
new_deaths                                9489
new_deaths_smoothed                       1758
total_cases_per_million                   1511
new_cases_per_million                     1514
new_cases_smoothed_per_million            2504
total_deaths_per_million                 10368
new_deaths_per_million                   10233
new_deaths_smoothed_per_million           2504
reproduction_rate                        17010
icu_patients                             61138
icu_patients_per_million                 61138
hosp_patients                            59786
hosp_patients_per_million                59786
weekly_icu_admissions                    67633
weekly_icu_admissions_per_million        67633
weekly_hosp_admissions                   67193
weekly_hosp_admissions_per_million       67193
new_tests                                37321
total_tests                              37518
total_tests_per_thousand                 37518
new_tests_per_thousand                   37321
new_tests_smoothed                       33305
new_tests_smoothed_per_thousand          33305
positive_rate                            34987
tests_per_case                           35491
tests_units                              32056
total_vaccinations                       66575
people_vaccinated                        66885
people_fully_vaccinated                  67473
new_vaccinations                         66867
new_vaccinations_smoothed                65857
total_vaccinations_per_hundred           66575
people_vaccinated_per_hundred            66885
people_fully_vaccinated_per_hundred      67473
new_vaccinations_smoothed_per_million    65857
stringency_index                          9679
population                                3031
population_density                        4417
median_age                                6010
aged_65_older                             6730
aged_70_older                             6362
gdp_per_capita                            5881
extreme_poverty                          25632
cardiovasc_death_rate                     5274
diabetes_prevalence                       4504
female_smokers                           18641
male_smokers                             19322
handwashing_facilities                   36708
hospital_beds_per_thousand               10494
life_expectancy                           3375
human_development_index                   5286
dtype: int64

In [6]:
df.loc[df.iso_code.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
354,NaN,NaN,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,NaN,Africa,2020-02-14,1.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,Africa,2020-02-15,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,NaN,NaN,Africa,2020-02-16,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,NaN,Africa,2020-02-17,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56968,NaN,NaN,South America,2021-02-07,16417234.0,108156.0,77056.857,428678.0,2400.0,1832.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56969,NaN,NaN,South America,2021-02-08,16433349.0,16115.0,72556.857,429389.0,711.0,1738.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56970,NaN,NaN,South America,2021-02-09,16539064.0,105715.0,75424.143,432277.0,2888.0,1865.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56971,NaN,NaN,South America,2021-02-10,16619362.0,80298.0,72675.429,434091.0,1814.0,1815.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56972,NaN,NaN,South America,2021-02-11,16703528.0,84166.0,72723.429,436608.0,2517.0,1900.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.loc[df.iso_code.isnull()]['location'].value_counts()

Asia              387
North America     387
European Union    386
Europe            386
Oceania           384
International     371
Africa            365
South America     356
Name: location, dtype: int64

In [8]:
df.loc[df.continent.isnull()].location.value_counts()

Asia               387
North America      387
World              387
European Union     386
Europe             386
Oceania            384
International      371
Africa             365
South America      356
Northern Cyprus      9
Name: location, dtype: int64

In [9]:
item_dict = {"Asia":"Asia", "North America":'North America', 
             "European Union":"Europe","Europe":"Europe","Oceania":"Oceania",
             "Africa":"Africa", "South America":"South America",
             "Northern Cyprus":"Europe"}

In [10]:
 def item_mapping(df, dictionary, colsource, coltarget):
    dict_keys = list(dictionary.keys())
    dict_values = list(dictionary.values())
    for x in range(len(dict_keys)):
        df.loc[df[colsource]==dict_keys[x], coltarget] = dict_values[x]
    return(df)

In [11]:
item_mapping(df, item_dict, "location", "continent")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68300,ZWE,Africa,Zimbabwe,2021-02-07,34552.0,65.0,166.286,1326.0,10.0,15.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68301,ZWE,Africa,Zimbabwe,2021-02-08,34658.0,106.0,158.571,1339.0,13.0,15.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68302,ZWE,Africa,Zimbabwe,2021-02-09,34781.0,123.0,138.143,1353.0,14.0,14.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68303,ZWE,Africa,Zimbabwe,2021-02-10,34864.0,83.0,128.571,1364.0,11.0,13.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68304,ZWE,Africa,Zimbabwe,2021-02-11,34864.0,0.0,99.000,1364.0,0.0,10.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [12]:
df.loc[df.iso_code.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
354,NaN,Africa,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,NaN,Africa,Africa,2020-02-14,1.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,Africa,Africa,2020-02-15,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
357,NaN,Africa,Africa,2020-02-16,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,NaN,Africa,Africa,2020-02-17,1.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56968,NaN,South America,South America,2021-02-07,16417234.0,108156.0,77056.857,428678.0,2400.0,1832.571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56969,NaN,South America,South America,2021-02-08,16433349.0,16115.0,72556.857,429389.0,711.0,1738.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56970,NaN,South America,South America,2021-02-09,16539064.0,105715.0,75424.143,432277.0,2888.0,1865.714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56971,NaN,South America,South America,2021-02-10,16619362.0,80298.0,72675.429,434091.0,1814.0,1815.286,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56972,NaN,South America,South America,2021-02-11,16703528.0,84166.0,72723.429,436608.0,2517.0,1900.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.loc[df.continent.isnull()].location.value_counts()

World            387
International    371
Name: location, dtype: int64

In [14]:
df.continent.value_counts()

Africa           18343
Europe           17288
Asia             16786
North America     8345
South America     4528
Oceania           2257
Name: continent, dtype: int64

In [15]:
df.continent.isnull().sum()

758

In [16]:
df.loc[df.continent.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
28766,NaN,NaN,International,2020-02-07,61.0,61.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28767,NaN,NaN,International,2020-02-08,61.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28768,NaN,NaN,International,2020-02-09,64.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28769,NaN,NaN,International,2020-02-10,135.0,71.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28770,NaN,NaN,International,2020-02-11,135.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67332,OWID_WRL,NaN,World,2021-02-07,106083367.0,397050.0,456136.429,2317201.0,7855.0,12561.857,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67333,OWID_WRL,NaN,World,2021-02-08,106398543.0,315176.0,437520.000,2325512.0,8311.0,12291.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67334,OWID_WRL,NaN,World,2021-02-09,106825820.0,427277.0,433324.429,2341104.0,15592.0,12389.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67335,OWID_WRL,NaN,World,2021-02-10,107340682.0,514862.0,432341.571,2354561.0,13457.0,12063.857,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67336,OWID_WRL,NaN,World,2021-02-11,107778443.0,437761.0,428324.429,2368527.0,13966.0,12264.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737

In [17]:
df.loc[df.continent.isnull()].location.value_counts()

World            387
International    371
Name: location, dtype: int64

In [18]:
df.loc[df.location=="World"]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
66950,OWID_WRL,NaN,World,2020-01-22,557.0,0.0,NaN,17.0,0.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
66951,OWID_WRL,NaN,World,2020-01-23,655.0,98.0,NaN,18.0,1.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
66952,OWID_WRL,NaN,World,2020-01-24,941.0,286.0,NaN,26.0,8.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
66953,OWID_WRL,NaN,World,2020-01-25,1433.0,492.0,NaN,42.0,16.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
66954,OWID_WRL,NaN,World,2020-01-26,2118.0,685.0,NaN,56.0,14.0,NaN,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67332,OWID_WRL,NaN,World,2021-02-07,106083367.0,397050.0,456136.429,2317201.0,7855.0,12561.857,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67333,OWID_WRL,NaN,World,2021-02-08,106398543.0,315176.0,437520.000,2325512.0,8311.0,12291.714,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67334,OWID_WRL,NaN,World,2021-02-09,106825820.0,427277.0,433324.429,2341104.0,15592.0,12389.000,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67335,OWID_WRL,NaN,World,2021-02-10,107340682.0,514862.0,432341.571,2354561.0,13457.0,12063.857,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737
67336,OWID_WRL,NaN,World,2021-02-11,107778443.0,437761.0,428324.429,2368527.0,13966.0,12264.143,...,15469.207,10.0,233.07,8.51,6.434,34.635,60.13,2.705,72.58,0.737

In [19]:
df.loc[df.iso_code.isnull()].location.value_counts()

Asia              387
North America     387
European Union    386
Europe            386
Oceania           384
International     371
Africa            365
South America     356
Name: location, dtype: int64

In [20]:
item_dict = {"Asia":"AS", "North America":'NA', 
             "European Union":"EU","Europe":"EU","Oceania":"OC",
             "Africa":"AF", "South America":"SA"}

In [21]:
 def mapping(df, dictionary, colsource, coltarget):
    dict_keys = list(dictionary.keys())
    dict_values = list(dictionary.values())
    for x in range(len(dict_keys)):
        df.loc[df[colsource]==dict_keys[x], coltarget] = dict_values[x]
    return(df)

In [22]:
mapping(df, item_dict, "location", "iso_code")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68300,ZWE,Africa,Zimbabwe,2021-02-07,34552.0,65.0,166.286,1326.0,10.0,15.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68301,ZWE,Africa,Zimbabwe,2021-02-08,34658.0,106.0,158.571,1339.0,13.0,15.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68302,ZWE,Africa,Zimbabwe,2021-02-09,34781.0,123.0,138.143,1353.0,14.0,14.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68303,ZWE,Africa,Zimbabwe,2021-02-10,34864.0,83.0,128.571,1364.0,11.0,13.571,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
68304,ZWE,Africa,Zimbabwe,2021-02-11,34864.0,0.0,99.000,1364.0,0.0,10.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [23]:
df.loc[df.iso_code.isnull()].location.value_counts()

International    371
Name: location, dtype: int64

In [24]:
df.new_cases.isnull().value_counts()

False    67548
True       757
Name: new_cases, dtype: int64

In [25]:
df.loc[df.new_cases.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
719,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
720,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
721,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
722,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
723,ALB,Europe,Albania,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,11803.431,1.1,304.195,10.08,7.1,51.2,NaN,2.89,78.57,0.795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61226,THA,Asia,Thailand,2020-01-22,4.0,NaN,NaN,NaN,NaN,NaN,...,16277.671,0.1,109.861,7.04,1.9,38.8,90.670,2.10,77.15,0.777
61940,TGO,Africa,Togo,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,...,1429.813,49.2,280.033,6.15,0.9,14.2,10.475,0.70,61.04,0.515
61941,TGO,Africa,Togo,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,...,1429.813,49.2,280.033,6.15,0.9,14.2,10.475,0.70,61.04,0.515
63239,TUR,Asia,Turkey,2020-12-10,1748567.0,NaN,27440.143,15751.0,220.0,205.0,...,25129.341,0.2,171.285,12.13,14.1,41.1,NaN,2.81,77.69,0.820
64735,USA,North America,United States,2020-01-22,1.0,NaN,NaN,NaN,NaN,NaN,...,54225.446,1.2,151.089,10.79,19.1,24.6,NaN,2.77,78.86,0.926

In [26]:
df.loc[df.new_cases.isnull()].location.value_counts()

Hong Kong          74
Argentina          62
Mexico             58
Fiji               49
Cayman Islands     47
Slovenia           32
Switzerland        32
Gibraltar          31
Malta              30
Bermuda            28
South Africa       27
Estonia            26
Guatemala          26
Denmark            25
Morocco            24
Isle of Man        21
Libya              20
Thailand           19
Faeroe Islands     13
Albania            13
Northern Cyprus     9
Serbia              9
Jersey              8
Taiwan              7
Kenya               7
Latvia              6
Bangladesh          5
Portugal            5
Luxembourg          5
Czechia             4
Malawi              4
Greece              4
Norway              3
Senegal             3
Netherlands         3
Togo                2
South Korea         2
Sudan               2
Japan               1
Israel              1
Iceland             1
Saint Helena        1
Guernsey            1
Turkey              1
China               1
Paraguay            1
Greenland           1
Panama              1
Lithuania           1
United States       1
Name: location, dtype: int64

In [27]:
df[df['location'] == 'Hong Kong'].new_cases.isnull().value_counts()

True    74
Name: new_cases, dtype: int64

In [28]:
df[(df.location == 'Hong Kong') & (df.new_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
27270,HKG,Asia,Hong Kong,2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27271,HKG,Asia,Hong Kong,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27272,HKG,Asia,Hong Kong,2020-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27273,HKG,Asia,Hong Kong,2020-04-30,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27274,HKG,Asia,Hong Kong,2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27339,HKG,Asia,Hong Kong,2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27340,HKG,Asia,Hong Kong,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27341,HKG,Asia,Hong Kong,2021-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27342,HKG,Asia,Hong Kong,2021-02-01,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949
27343,HKG,Asia,Hong Kong,2021-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,56054.92,NaN,NaN,8.33,NaN,NaN,NaN,NaN,84.86,0.949

In [29]:
df[(df.location == 'Hong Kong') & (~df.new_cases.isnull())] 
# drop

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

In [30]:
df.drop(df[df['location']  == 'Hong Kong'].index, inplace = True)

In [31]:
df[df['location']  == 'Hong Kong']

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

In [32]:
df.shape
#(68305, 59)

(68231, 59)

In [33]:
df[df['location'] == 'Argentina'].new_cases.isnull().value_counts()

False    346
True      62
Name: new_cases, dtype: int64

In [34]:
df[(df.location == 'Argentina') & (df.new_cases.isnull())] 
# 0 the null

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
2437,ARG,South America,Argentina,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2438,ARG,South America,Argentina,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2439,ARG,South America,Argentina,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2440,ARG,South America,Argentina,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2441,ARG,South America,Argentina,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,ARG,South America,Argentina,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2495,ARG,South America,Argentina,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2496,ARG,South America,Argentina,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2497,ARG,South America,Argentina,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2498,ARG,South America,Argentina,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845

In [35]:
df[(df.location == 'Argentina') & (~df.new_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
2499,ARG,South America,Argentina,2020-03-03,1.0,1.0,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2500,ARG,South America,Argentina,2020-03-04,1.0,0.0,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2501,ARG,South America,Argentina,2020-03-05,1.0,0.0,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2502,ARG,South America,Argentina,2020-03-06,2.0,1.0,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2503,ARG,South America,Argentina,2020-03-07,8.0,6.0,NaN,NaN,NaN,NaN,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,ARG,South America,Argentina,2021-02-07,1980347.0,3658.0,7586.857,49171.0,61.0,171.000,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2841,ARG,South America,Argentina,2021-02-08,1985501.0,5154.0,7378.286,49398.0,227.0,164.143,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2842,ARG,South America,Argentina,2021-02-09,1993295.0,7794.0,7106.714,49566.0,168.0,162.857,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2843,ARG,South America,Argentina,2021-02-10,2001034.0,7739.0,6898.571,49674.0,108.0,162.143,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845
2844,ARG,South America,Argentina,2021-02-11,2008345.0,7311.0,6672.857,49874.0,200.0,167.714,...,18933.907,0.6,191.032,5.5,16.2,27.7,NaN,5.0,76.67,0.845

In [36]:
df[df['location'] == 'Mexico'].new_cases.isnull().value_counts()

False    350
True      58
Name: new_cases, dtype: int64

In [37]:
df[(df.location == 'Mexico') & (df.new_cases.isnull())] 
#0 the null

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
39614,MEX,North America,Mexico,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39615,MEX,North America,Mexico,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39616,MEX,North America,Mexico,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39617,MEX,North America,Mexico,2020-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39618,MEX,North America,Mexico,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39619,MEX,North America,Mexico,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39620,MEX,North America,Mexico,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39621,MEX,North America,Mexico,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39622,MEX,North America,Mexico,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39623,MEX,North America,Mexico,2020-01-10,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39624,MEX,North America,Mexico,2020-01-11,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39625,MEX,North America,Mexico,2020-01-12,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39626,MEX,North America,Mexico,2020-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39627,MEX,North America,Mexico,2020-01-14,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39628,MEX,North America,Mexico,2020-01-15,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39629,MEX,North America,Mexico,2020-01-16,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39630,MEX,North America,Mexico,2020-01-17,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39631,MEX,North America,Mexico,2020-01-18,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39632,MEX,North America,Mexico,2020-01-19,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39633,MEX,North America,Mexico,2020-01-20,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39634,MEX,North America,Mexico,2020-01-21,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39635,MEX,North America,Mexico,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39636,MEX,North America,Mexico,2020-01-23,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39637,MEX,North America,Mexico,2020-01-24,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39638,MEX,North America,Mexico,2020-01-25,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39639,MEX,North America,Mexico,2020-01-26,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39640,MEX,North America,Mexico,2020-01-27,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39641,MEX,North America,Mexico,2020-01-28,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39642,MEX,North America,Mexico,2020-01-29,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39643,MEX,North America,Mexico,2020-01-30,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39644,MEX,North America,Mexico,2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39645,MEX,North America,Mexico,2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39646,MEX,North America,Mexico,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39647,MEX,North America,Mexico,2020-02-03,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39648,MEX,North America,Mexico,2020-02-04,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39649,MEX,North America,Mexico,2020-02-05,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39650,MEX,North America,Mexico,2020-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39651,MEX,North America,Mexico,2020-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39652,MEX,North America,Mexico,2020-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39653,MEX,North America,Mexico,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39654,MEX,North America,Mexico,2020-02-10,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39655,MEX,North America,Mexico,2020-02-11,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39656,MEX,North America,Mexico,2020-02-12,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39657,MEX,North America,Mexico,2020-02-13,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39658,MEX,North America,Mexico,2020-02-14,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39659,MEX,North America,Mexico,2020-02-15,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39660,MEX,North America,Mexico,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39661,MEX,North America,Mexico,2020-02-17,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39662,MEX,North America,Mexico,2020-02-18,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39663,MEX,North America,Mexico,2020-02-19,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39664,MEX,North America,Mexico,2020-02-20,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39665,MEX,North America,Mexico,2020-02-21,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39666,MEX,North America,Mexico,2020-02-22,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39667,MEX,North America,Mexico,2020-02-23,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39668,MEX,North America,Mexico,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39669,MEX,North America,Mexico,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39670,MEX,North America,Mexico,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39671,MEX,North America,Mexico,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779

In [38]:
df[(df.location == 'Mexico') & (~df.new_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
39672,MEX,North America,Mexico,2020-02-28,1.0,1.0,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39673,MEX,North America,Mexico,2020-02-29,4.0,3.0,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39674,MEX,North America,Mexico,2020-03-01,5.0,1.0,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39675,MEX,North America,Mexico,2020-03-02,5.0,0.0,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
39676,MEX,North America,Mexico,2020-03-03,5.0,0.0,NaN,NaN,NaN,NaN,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40017,MEX,North America,Mexico,2021-02-07,1932145.0,6065.0,9697.857,166200.0,414.0,1094.857,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
40018,MEX,North America,Mexico,2021-02-08,1936013.0,3868.0,9472.143,166731.0,531.0,1090.143,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
40019,MEX,North America,Mexico,2021-02-09,1946751.0,10738.0,10379.857,168432.0,1701.0,1271.286,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
40020,MEX,North America,Mexico,2021-02-10,1957889.0,11138.0,10234.857,169760.0,1328.0,1217.143,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779
40021,MEX,North America,Mexico,2021-02-11,1968566.0,10677.0,11760.143,171234.0,1474.0,1427.714,...,17336.469,2.5,152.783,13.06,6.9,21.4,87.847,1.38,75.05,0.779

In [39]:
df[df['location'] == 'Fiji'].new_cases.isnull().value_counts()

False    330
True      49
Name: new_cases, dtype: int64

In [40]:
df[(df.location == 'Fiji') & (df.new_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
21649,FJI,Oceania,Fiji,2020-01-30,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21650,FJI,Oceania,Fiji,2020-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21651,FJI,Oceania,Fiji,2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21652,FJI,Oceania,Fiji,2020-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21653,FJI,Oceania,Fiji,2020-02-03,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21654,FJI,Oceania,Fiji,2020-02-04,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21655,FJI,Oceania,Fiji,2020-02-05,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21656,FJI,Oceania,Fiji,2020-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21657,FJI,Oceania,Fiji,2020-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21658,FJI,Oceania,Fiji,2020-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21659,FJI,Oceania,Fiji,2020-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21660,FJI,Oceania,Fiji,2020-02-10,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21661,FJI,Oceania,Fiji,2020-02-11,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21662,FJI,Oceania,Fiji,2020-02-12,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21663,FJI,Oceania,Fiji,2020-02-13,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21664,FJI,Oceania,Fiji,2020-02-14,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21665,FJI,Oceania,Fiji,2020-02-15,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21666,FJI,Oceania,Fiji,2020-02-16,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21667,FJI,Oceania,Fiji,2020-02-17,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21668,FJI,Oceania,Fiji,2020-02-18,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21669,FJI,Oceania,Fiji,2020-02-19,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21670,FJI,Oceania,Fiji,2020-02-20,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21671,FJI,Oceania,Fiji,2020-02-21,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21672,FJI,Oceania,Fiji,2020-02-22,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21673,FJI,Oceania,Fiji,2020-02-23,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21674,FJI,Oceania,Fiji,2020-02-24,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21675,FJI,Oceania,Fiji,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21676,FJI,Oceania,Fiji,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21677,FJI,Oceania,Fiji,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21678,FJI,Oceania,Fiji,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21679,FJI,Oceania,Fiji,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21680,FJI,Oceania,Fiji,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21681,FJI,Oceania,Fiji,2020-03-02,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21682,FJI,Oceania,Fiji,2020-03-03,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21683,FJI,Oceania,Fiji,2020-03-04,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21684,FJI,Oceania,Fiji,2020-03-05,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21685,FJI,Oceania,Fiji,2020-03-06,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21686,FJI,Oceania,Fiji,2020-03-07,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21687,FJI,Oceania,Fiji,2020-03-08,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21688,FJI,Oceania,Fiji,2020-03-09,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21689,FJI,Oceania,Fiji,2020-03-10,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21690,FJI,Oceania,Fiji,2020-03-11,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21691,FJI,Oceania,Fiji,2020-03-12,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21692,FJI,Oceania,Fiji,2020-03-13,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21693,FJI,Oceania,Fiji,2020-03-14,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21694,FJI,Oceania,Fiji,2020-03-15,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21695,FJI,Oceania,Fiji,2020-03-16,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21696,FJI,Oceania,Fiji,2020-03-17,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21697,FJI,Oceania,Fiji,2020-03-18,NaN,NaN,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743

In [41]:
df[(df.location == 'Fiji') & (~df.new_cases.isnull())] 
# 0the null

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
21698,FJI,Oceania,Fiji,2020-03-19,1.0,1.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21699,FJI,Oceania,Fiji,2020-03-20,1.0,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21700,FJI,Oceania,Fiji,2020-03-21,1.0,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21701,FJI,Oceania,Fiji,2020-03-22,2.0,1.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21702,FJI,Oceania,Fiji,2020-03-23,3.0,1.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22023,FJI,Oceania,Fiji,2021-02-07,56.0,0.0,0.143,2.0,0.0,0.0,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
22024,FJI,Oceania,Fiji,2021-02-08,56.0,0.0,0.143,2.0,0.0,0.0,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
22025,FJI,Oceania,Fiji,2021-02-09,56.0,0.0,0.143,2.0,0.0,0.0,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
22026,FJI,Oceania,Fiji,2021-02-10,56.0,0.0,0.000,2.0,0.0,0.0,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
22027,FJI,Oceania,Fiji,2021-02-11,56.0,0.0,0.000,2.0,0.0,0.0,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743

In [42]:
df[df['location'] == "Cayman Islands"].new_cases.isnull().value_counts()

True    47
Name: new_cases, dtype: int64

In [43]:
df[(df.location == 'Cayman Islands') & (df.new_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
11911,CYM,North America,Cayman Islands,2020-12-26,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11912,CYM,North America,Cayman Islands,2020-12-27,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11913,CYM,North America,Cayman Islands,2020-12-28,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11914,CYM,North America,Cayman Islands,2020-12-29,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11915,CYM,North America,Cayman Islands,2020-12-30,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11916,CYM,North America,Cayman Islands,2020-12-31,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11917,CYM,North America,Cayman Islands,2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11918,CYM,North America,Cayman Islands,2021-01-02,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11919,CYM,North America,Cayman Islands,2021-01-03,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11920,CYM,North America,Cayman Islands,2021-01-04,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11921,CYM,North America,Cayman Islands,2021-01-05,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11922,CYM,North America,Cayman Islands,2021-01-06,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11923,CYM,North America,Cayman Islands,2021-01-07,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11924,CYM,North America,Cayman Islands,2021-01-08,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11925,CYM,North America,Cayman Islands,2021-01-09,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11926,CYM,North America,Cayman Islands,2021-01-10,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11927,CYM,North America,Cayman Islands,2021-01-11,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11928,CYM,North America,Cayman Islands,2021-01-12,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11929,CYM,North America,Cayman Islands,2021-01-13,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11930,CYM,North America,Cayman Islands,2021-01-14,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11931,CYM,North America,Cayman Islands,2021-01-15,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11932,CYM,North America,Cayman Islands,2021-01-16,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11933,CYM,North America,Cayman Islands,2021-01-17,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11934,CYM,North America,Cayman Islands,2021-01-18,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11935,CYM,North America,Cayman Islands,2021-01-19,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11936,CYM,North America,Cayman Islands,2021-01-20,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11937,CYM,North America,Cayman Islands,2021-01-21,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11938,CYM,North America,Cayman Islands,2021-01-22,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11939,CYM,North America,Cayman Islands,2021-01-23,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11940,CYM,North America,Cayman Islands,2021-01-24,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11941,CYM,North America,Cayman Islands,2021-01-25,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11942,CYM,North America,Cayman Islands,2021-01-26,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11943,CYM,North America,Cayman Islands,2021-01-27,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11944,CYM,North America,Cayman Islands,2021-01-28,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11945,CYM,North America,Cayman Islands,2021-01-29,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11946,CYM,North America,Cayman Islands,2021-01-30,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11947,CYM,North America,Cayman Islands,2021-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11948,CYM,North America,Cayman Islands,2021-02-01,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11949,CYM,North America,Cayman Islands,2021-02-02,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11950,CYM,North America,Cayman Islands,2021-02-03,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11951,CYM,North America,Cayman Islands,2021-02-04,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11952,CYM,North America,Cayman Islands,2021-02-05,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11953,CYM,North America,Cayman Islands,2021-02-06,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11954,CYM,North America,Cayman Islands,2021-02-07,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11955,CYM,North America,Cayman Islands,2021-02-08,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11956,CYM,North America,Cayman Islands,2021-02-09,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN
11957,CYM,North America,Cayman Islands,2021-02-10,NaN,NaN,NaN,NaN,NaN,NaN,...,49903.029,NaN,NaN,13.22,NaN,NaN,NaN,NaN,83.92,NaN

In [44]:
df[(df.location == 'Cayman Islands') & (~df.new_cases.isnull())] 
# drop

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

In [45]:
df.drop(df[df['location']  == 'Cayman Islands'].index, inplace = True)

In [46]:
df[df['location']  == 'Cayman Islands']

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

Switzerland        32
Slovenia           32
Gibraltar          31
Malta              30
Bermuda            28
South Africa       27
Guatemala          26
Estonia            26
Denmark            25
Morocco            24
Isle of Man        21
Libya              20
Thailand           19
Faeroe Islands     13
Albania            13
Northern Cyprus     9
Serbia              9
Jersey              8
Kenya               7
Taiwan              7
Latvia              6
Bangladesh          5
Portugal            5
Luxembourg          5
Czechia             4
Malawi              4
Greece              4
Senegal             3
Netherlands         3
Norway              3
Sudan               2
Togo                2
South Korea         2
Japan               1
United States       1
China               1
Guernsey            1
Lithuania           1
Panama              1
Greenland           1
Turkey              1
Iceland             1
Paraguay            1
Israel              1
Saint Helena        1

In [47]:
df[df['location'] == "Switzerland"].new_cases.isnull().value_counts()

False    353
True      32
Name: new_cases, dtype: int64

In [48]:
df[df['location'] == "Slovenia"].new_cases.isnull().value_counts()
# 0 the null

False    344
True      32
Name: new_cases, dtype: int64

In [49]:
df[df['location'] == "Gibraltar"].new_cases.isnull().value_counts()

True    31
Name: new_cases, dtype: int64

In [50]:
df.drop(df[df['location']  == 'Gibraltar'].index, inplace = True)

In [51]:
df[df['location']  == 'Gibraltar']

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, new_cases, new_cases_smoothed, total_deaths, new_deaths, new_deaths_smoothed, total_cases_per_million, new_cases_per_million, new_cases_smoothed_per_million, total_deaths_per_million, new_deaths_per_million, new_deaths_smoothed_per_million, reproduction_rate, icu_patients, icu_patients_per_million, hosp_patients, hosp_patients_per_million, weekly_icu_admissions, weekly_icu_admissions_per_million, weekly_hosp_admissions, weekly_hosp_admissions_per_million, new_tests, total_tests, total_tests_per_thousand, new_tests_per_thousand, new_tests_smoothed, new_tests_smoothed_per_thousand, positive_rate, tests_per_case, tests_units, total_vaccinations, people_vaccinated, people_fully_vaccinated, new_vaccinations, new_vaccinations_smoothed, total_vaccinations_per_hundred, people_vaccinated_per_hundred, people_fully_vaccinated_per_hundred, new_vaccinations_smoothed_per_million, stringency_index, population, population_density, median_age, aged_65_older, aged_70_older, gdp_per_capita, extreme_poverty, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, handwashing_facilities, hospital_beds_per_thousand, life_expectancy, human_development_index]
Index: []

[0 rows x 59 columns]

In [52]:
df[df['location'] == "Malta"].new_cases.isnull().value_counts()
#0 the null

False    342
True      30
Name: new_cases, dtype: int64

In [53]:
df[df['location'] == "Bermuda"].new_cases.isnull().value_counts()

True    28
Name: new_cases, dtype: int64

In [54]:
df.drop(df[df['location']  == 'Bermuda'].index, inplace = True)

In [55]:
df[df['location'] == "South Africa"].new_cases.isnull().value_counts()
#0 the null

False    344
True      27
Name: new_cases, dtype: int64

In [56]:
df[df['location'] == "Guatemala"].new_cases.isnull().value_counts()
#0the null

False    335
True      26
Name: new_cases, dtype: int64

In [57]:
df[df['location'] == "Estonia"].new_cases.isnull().value_counts()

False    351
True      26
Name: new_cases, dtype: int64

In [58]:
df[df['location'] == "Denmark"].new_cases.isnull().value_counts()

False    351
True      25
Name: new_cases, dtype: int64

In [59]:
df[df['location'] == "Morocco"].new_cases.isnull().value_counts()

False    347
True      24
Name: new_cases, dtype: int64

In [60]:
df[df['location'] == "Isle of Man"].new_cases.isnull().value_counts()

True    21
Name: new_cases, dtype: int64

In [61]:
df.drop(df[df['location']  == 'Isle of Man'].index, inplace = True)

In [62]:
df[df['location'] == "Libya"].new_cases.isnull().value_counts()

False    325
True      20
Name: new_cases, dtype: int64

In [63]:
df[df['location'] == "Thailand"].new_cases.isnull().value_counts()

False    386
True      19
Name: new_cases, dtype: int64

In [64]:
df[df['location'] == "Faeroe Islands"].new_cases.isnull().value_counts()

True    13
Name: new_cases, dtype: int64

In [65]:
df.drop(df[df['location']  == 'Faeroe Islands'].index, inplace = True)

In [66]:
df[df['location'] == "Albania"].new_cases.isnull().value_counts()

False    340
True      13
Name: new_cases, dtype: int64

In [67]:
df[df['location'] == "Northern Cyprus"].new_cases.isnull().value_counts()

True    9
Name: new_cases, dtype: int64

In [68]:
df.drop(df[df['location']  == 'Northern Cyprus'].index, inplace = True)

In [69]:
df[df['location'] == "Serbia"].new_cases.isnull().value_counts()

False    343
True       9
Name: new_cases, dtype: int64

In [70]:
df[df['location'] == "Jersey"].new_cases.isnull().value_counts()

True    8
Name: new_cases, dtype: int64

In [71]:
df.drop(df[df['location']  == 'Jersey'].index, inplace = True)

In [72]:
df[df['location'] == "Kenya"].new_cases.isnull().value_counts()

False    336
True       7
Name: new_cases, dtype: int64

In [73]:
df[df['location'] == "Taiwan"].new_cases.isnull().value_counts()

False    386
True       7
Name: new_cases, dtype: int64

In [74]:
df[df['location'] == "Latvia"].new_cases.isnull().value_counts()

False    347
True       6
Name: new_cases, dtype: int64

In [75]:
df[df['location'] == "Bangladesh"].new_cases.isnull().value_counts()

False    341
True       5
Name: new_cases, dtype: int64

In [76]:
df[df['location'] == "Portugal"].new_cases.isnull().value_counts()

False    347
True       5
Name: new_cases, dtype: int64

In [77]:
df[df['location'] == "Luxembourg"].new_cases.isnull().value_counts()

False    349
True       5
Name: new_cases, dtype: int64

In [78]:
df[df['location'] == "Czechia"].new_cases.isnull().value_counts()

False    348
True       4
Name: new_cases, dtype: int64

Malawi              4
Greece              4
Senegal             3
Netherlands         3
Norway              3
Sudan               2
Togo                2
South Korea         2
Japan               1
United States       1
China               1
Guernsey            1
Lithuania           1
Panama              1
Greenland           1
Turkey              1
Iceland             1
Paraguay            1
Israel              1
Saint Helena        1

In [79]:
df[df['location'] == "Malawi"].new_cases.isnull().value_counts()

False    316
True       4
Name: new_cases, dtype: int64

In [80]:
df[df['location'] == "Greece"].new_cases.isnull().value_counts()

False    352
True       4
Name: new_cases, dtype: int64

In [81]:
df[df['location'] == "Senegal"].new_cases.isnull().value_counts()

False    347
True       3
Name: new_cases, dtype: int64

In [82]:
df[df['location'] == "Netherlands"].new_cases.isnull().value_counts()

False    351
True       3
Name: new_cases, dtype: int64

In [83]:
df[df['location'] == "Norway"].new_cases.isnull().value_counts()

False    352
True       3
Name: new_cases, dtype: int64

In [84]:
df[df['location'] == "Sudan"].new_cases.isnull().value_counts()

False    335
True       2
Name: new_cases, dtype: int64

In [85]:
df[df['location'] == "Togo"].new_cases.isnull().value_counts()

False    343
True       2
Name: new_cases, dtype: int64

In [86]:
df[df['location'] == "South Korea"].new_cases.isnull().value_counts()

False    386
True       2
Name: new_cases, dtype: int64

In [87]:
df[df['location'] == "Japan"].new_cases.isnull().value_counts()

False    386
True       1
Name: new_cases, dtype: int64

In [88]:
df[df['location'] == "United States"].new_cases.isnull().value_counts()

False    386
True       1
Name: new_cases, dtype: int64

In [89]:
df[df['location'] == "China"].new_cases.isnull().value_counts()

False    386
True       1
Name: new_cases, dtype: int64

In [90]:
df[df['location'] == "Guernsey"].new_cases.isnull().value_counts()

True    1
Name: new_cases, dtype: int64

In [91]:
df.drop(df[df['location']  == 'Guernsey'].index, inplace = True)

In [92]:
df[df['location'] == "Lithuania"].new_cases.isnull().value_counts()

False    349
True       1
Name: new_cases, dtype: int64

In [93]:
df[df['location'] == "Panama"].new_cases.isnull().value_counts()

False    339
True       1
Name: new_cases, dtype: int64

In [94]:
df[df['location'] == "Greenland"].new_cases.isnull().value_counts()

True    1
Name: new_cases, dtype: int64

In [95]:
df.drop(df[df['location']  == 'Greenland'].index, inplace = True)

In [96]:
df[df['location'] == "Turkey"].new_cases.isnull().value_counts()

False    337
True       1
Name: new_cases, dtype: int64

In [97]:
df[df['location'] == "Iceland"].new_cases.isnull().value_counts()

False    350
True       1
Name: new_cases, dtype: int64

In [98]:
df[df['location'] == "Paraguay"].new_cases.isnull().value_counts()

False    341
True       1
Name: new_cases, dtype: int64

In [99]:
df[df['location'] == "Israel"].new_cases.isnull().value_counts()

False    357
True       1
Name: new_cases, dtype: int64

In [100]:
df[df['location'] == "Saint Helena"].new_cases.isnull().value_counts()

True    1
Name: new_cases, dtype: int64

In [101]:
df.drop(df[df['location']  == 'Saint Helena'].index, inplace = True)

In [102]:
df.new_cases.isnull().value_counts()

False    67548
True       523
Name: new_cases, dtype: int64

In [103]:
d = df[df.new_cases.isnull()].location.unique()
d

array(['Albania', 'Argentina', 'Bangladesh', 'China', 'Czechia',
       'Denmark', 'Estonia', 'Fiji', 'Greece', 'Guatemala', 'Iceland',
       'Israel', 'Japan', 'Kenya', 'Latvia', 'Libya', 'Lithuania',
       'Luxembourg', 'Malawi', 'Malta', 'Mexico', 'Morocco',
       'Netherlands', 'Norway', 'Panama', 'Paraguay', 'Portugal',
       'Senegal', 'Serbia', 'Slovenia', 'South Africa', 'South Korea',
       'Sudan', 'Switzerland', 'Taiwan', 'Thailand', 'Togo', 'Turkey',
       'United States'], dtype=object)

In [104]:
c = df[df.total_cases.isnull()].location.unique()
c

array(['Africa', 'Albania', 'Argentina', 'Bangladesh', 'Czechia',
       'Denmark', 'Estonia', 'Europe', 'European Union', 'Fiji', 'Greece',
       'Guatemala', 'Iceland', 'Israel', 'Kenya', 'Latvia', 'Libya',
       'Lithuania', 'Luxembourg', 'Malawi', 'Malta', 'Mexico', 'Morocco',
       'Netherlands', 'Norway', 'Oceania', 'Panama', 'Paraguay',
       'Portugal', 'Senegal', 'Serbia', 'Slovenia', 'South Africa',
       'South America', 'South Korea', 'Sudan', 'Switzerland', 'Taiwan',
       'Thailand', 'Togo'], dtype=object)

In [105]:
for x in c:
    if x not in d:
        print(x)

Africa
Europe
European Union
Oceania
South America

In [106]:
df[(df.location == 'Africa') & (df.total_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
354,AF,Africa,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
df[(df.location == 'Europe') & (df.total_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
20864,EU,Europe,Europe,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df[(df.location == 'European Union') & (df.total_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
21250,EU,Europe,European Union,2020-01-23,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
df[(df.location == 'Oceania') & (df.total_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
45960,OC,Oceania,Oceania,2020-01-25,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
df[(df.location == 'South America') & (df.total_cases.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
56617,SA,South America,South America,2020-02-22,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df['new_cases'].fillna(0,inplace = True)

In [112]:
df.new_cases.isnull().value_counts()

False    68071
Name: new_cases, dtype: int64

In [113]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [114]:
df.shape

(68071, 59)

In [115]:
df[df['location'] == 'Fiji'].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
21649,FJI,Oceania,Fiji,2020-01-30,NaN,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21650,FJI,Oceania,Fiji,2020-01-31,NaN,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21651,FJI,Oceania,Fiji,2020-02-01,NaN,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21652,FJI,Oceania,Fiji,2020-02-02,NaN,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743
21653,FJI,Oceania,Fiji,2020-02-03,NaN,0.0,NaN,NaN,NaN,NaN,...,8702.975,1.4,412.82,14.49,10.2,34.8,NaN,2.3,67.44,0.743

In [116]:
df.total_cases.isnull().value_counts()
#523

False    67550
True       521
Name: total_cases, dtype: int64

In [117]:
df['total_cases'].fillna(0,inplace = True)

In [118]:
df.total_cases.isnull().value_counts()

False    68071
Name: total_cases, dtype: int64

In [119]:
df[df['location'] == 'Oceania']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
45960,OC,Oceania,Oceania,2020-01-25,0.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45961,OC,Oceania,Oceania,2020-01-26,4.0,4.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45962,OC,Oceania,Oceania,2020-01-27,5.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45963,OC,Oceania,Oceania,2020-01-28,5.0,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45964,OC,Oceania,Oceania,2020-01-29,6.0,1.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46339,OC,Oceania,Oceania,2021-02-07,32153.0,10.0,14.286,945.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46340,OC,Oceania,Oceania,2021-02-08,32163.0,10.0,12.286,945.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46341,OC,Oceania,Oceania,2021-02-09,32176.0,13.0,13.143,945.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46342,OC,Oceania,Oceania,2021-02-10,32185.0,9.0,12.286,945.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46343,OC,Oceania,Oceania,2021-02-11,32209.0,24.0,14.857,945.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
df.loc[df.iso_code.isnull()].location.value_counts()

International    371
Name: location, dtype: int64

In [121]:
df['iso_code'].fillna("_",inplace = True)

In [122]:
df.loc[df.iso_code=='_'].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
28766,_,NaN,International,2020-02-07,61.0,61.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28767,_,NaN,International,2020-02-08,61.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28768,_,NaN,International,2020-02-09,64.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28769,_,NaN,International,2020-02-10,135.0,71.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28770,_,NaN,International,2020-02-11,135.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
df.loc[df.continent.isnull()].location.value_counts()

World            387
International    371
Name: location, dtype: int64

In [124]:
df['continent'].fillna("_",inplace = True)

In [125]:
df.loc[df.continent=='_'].head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
28766,_,_,International,2020-02-07,61.0,61.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28767,_,_,International,2020-02-08,61.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28768,_,_,International,2020-02-09,64.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28769,_,_,International,2020-02-10,135.0,71.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28770,_,_,International,2020-02-11,135.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [126]:
df.loc[df.new_deaths.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67658,ZMB,Africa,Zambia,2020-03-31,35.0,0.0,4.571,NaN,NaN,0.0,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.0,63.89,0.584
67659,ZMB,Africa,Zambia,2020-04-01,36.0,1.0,3.429,NaN,NaN,0.0,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.0,63.89,0.584
67976,ZWE,Africa,Zimbabwe,2020-03-20,1.0,1.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67977,ZWE,Africa,Zimbabwe,2020-03-21,3.0,2.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67978,ZWE,Africa,Zimbabwe,2020-03-22,3.0,0.0,NaN,NaN,NaN,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [127]:
t = df.loc[df.new_deaths.isnull()].location.unique()
t

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'International',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [128]:
for i in t :
   print(df[df['location'] == i].new_deaths.isnull().value_counts())

False    327
True      27
Name: new_deaths, dtype: int64
False    338
True      15
Name: new_deaths, dtype: int64
False    337
True      16
Name: new_deaths, dtype: int64
False    327
True      20
Name: new_deaths, dtype: int64
False    320
True       9
Name: new_deaths, dtype: int64
False    311
True      25
Name: new_deaths, dtype: int64
False    341
True      67
Name: new_deaths, dtype: int64
False    323
True      25
Name: new_deaths, dtype: int64
False    348
True      35
Name: new_deaths, dtype: int64
False    337
True      16
Name: new_deaths, dtype: int64
False    336
True      12
Name: new_deaths, dtype: int64
False    317
True      16
Name: new_deaths, dtype: int64
False    333
True      21
Name: new_deaths, dtype: int64
False    331
True      15
Name: new_deaths, dtype: int64
False    313
True      19
Name: new_deaths, dtype: int64
False    318
True      32
Name: new_deaths, dtype: int64
False    338
True      36
Name: new_deaths, dtype: int64
False    312
True      14
Name: new_deaths, dtype: int64
False    312
True      21
Name: new_deaths, dtype: int64
True     308
False     35
Name: new_deaths, dtype: int64
False    320
True      18
Name: new_deaths, dtype: int64
False    328
True      16
Name: new_deaths, dtype: int64
False    318
True       1
Name: new_deaths, dtype: int64
False    332
True      20
Name: new_deaths, dtype: int64
False    321
True      19
Name: new_deaths, dtype: int64
False    338
True       3
Name: new_deaths, dtype: int64
False    331
True       8
Name: new_deaths, dtype: int64
False    305
True      13
Name: new_deaths, dtype: int64
True    382
Name: new_deaths, dtype: int64
False    324
True      19
Name: new_deaths, dtype: int64
False    340
True      43
Name: new_deaths, dtype: int64
False    325
True       4
Name: new_deaths, dtype: int64
False    265
True      69
Name: new_deaths, dtype: int64
False    290
True      40
Name: new_deaths, dtype: int64
False    327
True      28
Name: new_deaths, dtype: int64
False    386
True       1
Name: new_deaths, dtype: int64
False    327
True      16
Name: new_deaths, dtype: int64
False    282
True       6
Name: new_deaths, dtype: int64
False    316
True      18
Name: new_deaths, dtype: int64
False    330
True      13
Name: new_deaths, dtype: int64
False    320
True      18
Name: new_deaths, dtype: int64
False    330
True      23
Name: new_deaths, dtype: int64
False    331
True       6
Name: new_deaths, dtype: int64
False    327
True      13
Name: new_deaths, dtype: int64
False    327
True      25
Name: new_deaths, dtype: int64
False    328
True      10
Name: new_deaths, dtype: int64
False    335
True      41
Name: new_deaths, dtype: int64
False    308
True      23
Name: new_deaths, dtype: int64
True    327
Name: new_deaths, dtype: int64
False    332
True      16
Name: new_deaths, dtype: int64
False    335
True      13
Name: new_deaths, dtype: int64
False    341
True      23
Name: new_deaths, dtype: int64
False    318
True      12
Name: new_deaths, dtype: int64
False    296
True      38
Name: new_deaths, dtype: int64
True     276
False     52
Name: new_deaths, dtype: int64
False    324
True      53
Name: new_deaths, dtype: int64
False    302
True      33
Name: new_deaths, dtype: int64
False    313
True      23
Name: new_deaths, dtype: int64
False    196
True     183
Name: new_deaths, dtype: int64
False    328
True      52
Name: new_deaths, dtype: int64
False    363
True      22
Name: new_deaths, dtype: int64
False    329
True       6
Name: new_deaths, dtype: int64
False    326
True       6
Name: new_deaths, dtype: int64
False    314
True      38
Name: new_deaths, dtype: int64
False    340
True      42
Name: new_deaths, dtype: int64
False    328
True       7
Name: new_deaths, dtype: int64
False    338
True      18
Name: new_deaths, dtype: int64
True     287
False     40
Name: new_deaths, dtype: int64
False    333
True      28
Name: new_deaths, dtype: int64
False    303
True      33
Name: new_deaths, dtype: int64
False    292
True      32
Name: new_deaths, dtype: int64
False    311
True      18
Name: new_deaths, dtype: int64
False    323
True      15
Name: new_deaths, dtype: int64
False    334
True      11
Name: new_deaths, dtype: int64
False    328
True      23
Name: new_deaths, dtype: int64
False    338
True      41
Name: new_deaths, dtype: int64
False    338
True       9
Name: new_deaths, dtype: int64
False    358
True      13
Name: new_deaths, dtype: int64
False    345
True       9
Name: new_deaths, dtype: int64
False    338
True      11
Name: new_deaths, dtype: int64
False    329
True      29
Name: new_deaths, dtype: int64
False    357
True      21
Name: new_deaths, dtype: int64
False    330
True       8
Name: new_deaths, dtype: int64
False    365
True      22
Name: new_deaths, dtype: int64
False    322
True      24
Name: new_deaths, dtype: int64
False    323
True      13
Name: new_deaths, dtype: int64
False    323
True      20
Name: new_deaths, dtype: int64
False    326
True       9
Name: new_deaths, dtype: int64
False    314
True      40
Name: new_deaths, dtype: int64
False    315
True      16
Name: new_deaths, dtype: int64
True    325
Name: new_deaths, dtype: int64
False    315
True      38
Name: new_deaths, dtype: int64
False    339
True      18
Name: new_deaths, dtype: int64
False    218
True      57
Name: new_deaths, dtype: int64
False    314
True      19
Name: new_deaths, dtype: int64
False    316
True      29
Name: new_deaths, dtype: int64
False    314
True      31
Name: new_deaths, dtype: int64
False    325
True      25
Name: new_deaths, dtype: int64
False    335
True      19
Name: new_deaths, dtype: int64
False    271
True      58
Name: new_deaths, dtype: int64
False    311
True       9
Name: new_deaths, dtype: int64
False    332
True      52
Name: new_deaths, dtype: int64
False    289
True      52
Name: new_deaths, dtype: int64
False    320
True       4
Name: new_deaths, dtype: int64
False    310
True      62
Name: new_deaths, dtype: int64
True    107
Name: new_deaths, dtype: int64
False    319
True      16
Name: new_deaths, dtype: int64
False    328
True       3
Name: new_deaths, dtype: int64
False    330
True      78
Name: new_deaths, dtype: int64
True    22
Name: new_deaths, dtype: int64
False    331
True      10
Name: new_deaths, dtype: int64
False    320
True      29
Name: new_deaths, dtype: int64
True     294
False     45
Name: new_deaths, dtype: int64
False    326
True       6
Name: new_deaths, dtype: int64
False    339
True      32
Name: new_deaths, dtype: int64
False    263
True      64
Name: new_deaths, dtype: int64
False    318
True       4
Name: new_deaths, dtype: int64
False    217
True     118
Name: new_deaths, dtype: int64
False    272
True     112
Name: new_deaths, dtype: int64
False    343
True      11
Name: new_deaths, dtype: int64
False    320
True      30
Name: new_deaths, dtype: int64
False    322
True       8
Name: new_deaths, dtype: int64
False    324
True       5
Name: new_deaths, dtype: int64
False    326
True      24
Name: new_deaths, dtype: int64
False    327
True      25
Name: new_deaths, dtype: int64
False    335
True      20
Name: new_deaths, dtype: int64
False    318
True      36
Name: new_deaths, dtype: int64
False    331
True      22
Name: new_deaths, dtype: int64
False    323
True      21
Name: new_deaths, dtype: int64
False    338
True       2
Name: new_deaths, dtype: int64
False    198
True     131
Name: new_deaths, dtype: int64
False    328
True      14
Name: new_deaths, dtype: int64
False    329
True      14
Name: new_deaths, dtype: int64
False    376
True       3
Name: new_deaths, dtype: int64
False    337
True       8
Name: new_deaths, dtype: int64
False    332
True      20
Name: new_deaths, dtype: int64
False    321
True      28
Name: new_deaths, dtype: int64
False    327
True      25
Name: new_deaths, dtype: int64
False    330
True      48
Name: new_deaths, dtype: int64
False    258
True      77
Name: new_deaths, dtype: int64
True    324
Name: new_deaths, dtype: int64
True     241
False     94
Name: new_deaths, dtype: int64
True     307
False     28
Name: new_deaths, dtype: int64
True    86
Name: new_deaths, dtype: int64
False    346
True       5
Name: new_deaths, dtype: int64
False    287
True      25
Name: new_deaths, dtype: int64
False    325
True      22
Name: new_deaths, dtype: int64
False    317
True      33
Name: new_deaths, dtype: int64
False    329
True      23
Name: new_deaths, dtype: int64
True     296
False     39
Name: new_deaths, dtype: int64
False    295
True      23
Name: new_deaths, dtype: int64
False    328
True      58
Name: new_deaths, dtype: int64
False    317
True      26
Name: new_deaths, dtype: int64
False    335
True      41
Name: new_deaths, dtype: int64
True    123
Name: new_deaths, dtype: int64
False    310
True      23
Name: new_deaths, dtype: int64
False    322
True      49
Name: new_deaths, dtype: int64
False    358
True      30
Name: new_deaths, dtype: int64
False    273
True      40
Name: new_deaths, dtype: int64
False    346
True      31
Name: new_deaths, dtype: int64
False    321
True      61
Name: new_deaths, dtype: int64
False    336
True       1
Name: new_deaths, dtype: int64
False    315
True      20
Name: new_deaths, dtype: int64
False    339
True      38
Name: new_deaths, dtype: int64
False    344
True      41
Name: new_deaths, dtype: int64
False    320
True       7
Name: new_deaths, dtype: int64
False    362
True      31
Name: new_deaths, dtype: int64
False    286
True       2
Name: new_deaths, dtype: int64
False    318
True      15
Name: new_deaths, dtype: int64
False    348
True      57
Name: new_deaths, dtype: int64
True    327
Name: new_deaths, dtype: int64
False    322
True      23
Name: new_deaths, dtype: int64
False    324
True      11
Name: new_deaths, dtype: int64
False    330
True      15
Name: new_deaths, dtype: int64
False    332
True       6
Name: new_deaths, dtype: int64
False    203
True     125
Name: new_deaths, dtype: int64
False    336
True      10
Name: new_deaths, dtype: int64
False    329
True      51
Name: new_deaths, dtype: int64
False    343
True      35
Name: new_deaths, dtype: int64
False    349
True      38
Name: new_deaths, dtype: int64
False    321
True      15
Name: new_deaths, dtype: int64
False    322
True      12
Name: new_deaths, dtype: int64
True    94
Name: new_deaths, dtype: int64
True    343
Name: new_deaths, dtype: int64
False    322
True      13
Name: new_deaths, dtype: int64
False    196
True     190
Name: new_deaths, dtype: int64
False    288
True      20
Name: new_deaths, dtype: int64
False    316
True      15
Name: new_deaths, dtype: int64
False    326
True       3
Name: new_deaths, dtype: int64

In [129]:
for i in t :
    df.new_deaths.fillna(0,inplace = True)

In [130]:
for i in t :
   print(df[df['location'] == i].new_deaths.isnull().value_counts())

False    354
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    347
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    336
Name: new_deaths, dtype: int64
False    408
Name: new_deaths, dtype: int64
False    348
Name: new_deaths, dtype: int64
False    383
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    348
Name: new_deaths, dtype: int64
False    333
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    346
Name: new_deaths, dtype: int64
False    332
Name: new_deaths, dtype: int64
False    350
Name: new_deaths, dtype: int64
False    374
Name: new_deaths, dtype: int64
False    326
Name: new_deaths, dtype: int64
False    333
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    344
Name: new_deaths, dtype: int64
False    319
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    340
Name: new_deaths, dtype: int64
False    341
Name: new_deaths, dtype: int64
False    339
Name: new_deaths, dtype: int64
False    318
Name: new_deaths, dtype: int64
False    382
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    383
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    334
Name: new_deaths, dtype: int64
False    330
Name: new_deaths, dtype: int64
False    355
Name: new_deaths, dtype: int64
False    387
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    288
Name: new_deaths, dtype: int64
False    334
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    337
Name: new_deaths, dtype: int64
False    340
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    376
Name: new_deaths, dtype: int64
False    331
Name: new_deaths, dtype: int64
False    327
Name: new_deaths, dtype: int64
False    348
Name: new_deaths, dtype: int64
False    348
Name: new_deaths, dtype: int64
False    364
Name: new_deaths, dtype: int64
False    330
Name: new_deaths, dtype: int64
False    334
Name: new_deaths, dtype: int64
False    328
Name: new_deaths, dtype: int64
False    377
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    336
Name: new_deaths, dtype: int64
False    379
Name: new_deaths, dtype: int64
False    380
Name: new_deaths, dtype: int64
False    385
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    332
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    382
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    356
Name: new_deaths, dtype: int64
False    327
Name: new_deaths, dtype: int64
False    361
Name: new_deaths, dtype: int64
False    336
Name: new_deaths, dtype: int64
False    324
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    351
Name: new_deaths, dtype: int64
False    379
Name: new_deaths, dtype: int64
False    347
Name: new_deaths, dtype: int64
False    371
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    349
Name: new_deaths, dtype: int64
False    358
Name: new_deaths, dtype: int64
False    378
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    387
Name: new_deaths, dtype: int64
False    346
Name: new_deaths, dtype: int64
False    336
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    331
Name: new_deaths, dtype: int64
False    325
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    357
Name: new_deaths, dtype: int64
False    275
Name: new_deaths, dtype: int64
False    333
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    350
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    320
Name: new_deaths, dtype: int64
False    384
Name: new_deaths, dtype: int64
False    341
Name: new_deaths, dtype: int64
False    324
Name: new_deaths, dtype: int64
False    372
Name: new_deaths, dtype: int64
False    107
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    331
Name: new_deaths, dtype: int64
False    408
Name: new_deaths, dtype: int64
False    22
Name: new_deaths, dtype: int64
False    341
Name: new_deaths, dtype: int64
False    349
Name: new_deaths, dtype: int64
False    339
Name: new_deaths, dtype: int64
False    332
Name: new_deaths, dtype: int64
False    371
Name: new_deaths, dtype: int64
False    327
Name: new_deaths, dtype: int64
False    322
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    384
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    350
Name: new_deaths, dtype: int64
False    330
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    350
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    355
Name: new_deaths, dtype: int64
False    354
Name: new_deaths, dtype: int64
False    353
Name: new_deaths, dtype: int64
False    344
Name: new_deaths, dtype: int64
False    340
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64
False    342
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    379
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    349
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    378
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    324
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    86
Name: new_deaths, dtype: int64
False    351
Name: new_deaths, dtype: int64
False    312
Name: new_deaths, dtype: int64
False    347
Name: new_deaths, dtype: int64
False    350
Name: new_deaths, dtype: int64
False    352
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    318
Name: new_deaths, dtype: int64
False    386
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    376
Name: new_deaths, dtype: int64
False    123
Name: new_deaths, dtype: int64
False    333
Name: new_deaths, dtype: int64
False    371
Name: new_deaths, dtype: int64
False    388
Name: new_deaths, dtype: int64
False    313
Name: new_deaths, dtype: int64
False    377
Name: new_deaths, dtype: int64
False    382
Name: new_deaths, dtype: int64
False    337
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    377
Name: new_deaths, dtype: int64
False    385
Name: new_deaths, dtype: int64
False    327
Name: new_deaths, dtype: int64
False    393
Name: new_deaths, dtype: int64
False    288
Name: new_deaths, dtype: int64
False    333
Name: new_deaths, dtype: int64
False    405
Name: new_deaths, dtype: int64
False    327
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    345
Name: new_deaths, dtype: int64
False    338
Name: new_deaths, dtype: int64
False    328
Name: new_deaths, dtype: int64
False    346
Name: new_deaths, dtype: int64
False    380
Name: new_deaths, dtype: int64
False    378
Name: new_deaths, dtype: int64
False    387
Name: new_deaths, dtype: int64
False    336
Name: new_deaths, dtype: int64
False    334
Name: new_deaths, dtype: int64
False    94
Name: new_deaths, dtype: int64
False    343
Name: new_deaths, dtype: int64
False    335
Name: new_deaths, dtype: int64
False    386
Name: new_deaths, dtype: int64
False    308
Name: new_deaths, dtype: int64
False    331
Name: new_deaths, dtype: int64
False    329
Name: new_deaths, dtype: int64

In [131]:
t = df.loc[df.total_deaths.isnull()].location.unique()
t

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'Colombia', 'Comoros', 'Congo', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Europe', 'European Union', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'International',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America',
       'North Macedonia', 'Norway', 'Oceania', 'Oman', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [132]:
for i in t :
   print(df[df['location'] == i].total_deaths.isnull().value_counts())

False    327
True      27
Name: total_deaths, dtype: int64
False    341
True      24
Name: total_deaths, dtype: int64
False    338
True      15
Name: total_deaths, dtype: int64
False    337
True      16
Name: total_deaths, dtype: int64
False    327
True      20
Name: total_deaths, dtype: int64
False    320
True       9
Name: total_deaths, dtype: int64
False    311
True      25
Name: total_deaths, dtype: int64
False    341
True      67
Name: total_deaths, dtype: int64
False    323
True      25
Name: total_deaths, dtype: int64
False    348
True      35
Name: total_deaths, dtype: int64
False    337
True      16
Name: total_deaths, dtype: int64
False    336
True      12
Name: total_deaths, dtype: int64
False    317
True      16
Name: total_deaths, dtype: int64
False    333
True      21
Name: total_deaths, dtype: int64
False    331
True      15
Name: total_deaths, dtype: int64
False    313
True      19
Name: total_deaths, dtype: int64
False    318
True      32
Name: total_deaths, dtype: int64
False    338
True      36
Name: total_deaths, dtype: int64
False    312
True      14
Name: total_deaths, dtype: int64
False    312
True      21
Name: total_deaths, dtype: int64
True     308
False     35
Name: total_deaths, dtype: int64
False    320
True      18
Name: total_deaths, dtype: int64
False    328
True      16
Name: total_deaths, dtype: int64
False    318
True       1
Name: total_deaths, dtype: int64
False    332
True      20
Name: total_deaths, dtype: int64
False    321
True      19
Name: total_deaths, dtype: int64
False    338
True       3
Name: total_deaths, dtype: int64
False    331
True       8
Name: total_deaths, dtype: int64
False    305
True      13
Name: total_deaths, dtype: int64
True    382
Name: total_deaths, dtype: int64
False    324
True      19
Name: total_deaths, dtype: int64
False    340
True      43
Name: total_deaths, dtype: int64
False    325
True       4
Name: total_deaths, dtype: int64
False    265
True      69
Name: total_deaths, dtype: int64
False    290
True      40
Name: total_deaths, dtype: int64
False    327
True      28
Name: total_deaths, dtype: int64
False    327
True      16
Name: total_deaths, dtype: int64
False    282
True       6
Name: total_deaths, dtype: int64
False    316
True      18
Name: total_deaths, dtype: int64
False    330
True      13
Name: total_deaths, dtype: int64
False    320
True      18
Name: total_deaths, dtype: int64
False    330
True      23
Name: total_deaths, dtype: int64
False    331
True       6
Name: total_deaths, dtype: int64
False    327
True      13
Name: total_deaths, dtype: int64
False    327
True      25
Name: total_deaths, dtype: int64
False    328
True      10
Name: total_deaths, dtype: int64
False    335
True      41
Name: total_deaths, dtype: int64
False    308
True      23
Name: total_deaths, dtype: int64
True    327
Name: total_deaths, dtype: int64
False    332
True      16
Name: total_deaths, dtype: int64
False    335
True      13
Name: total_deaths, dtype: int64
False    341
True      23
Name: total_deaths, dtype: int64
False    318
True      12
Name: total_deaths, dtype: int64
False    296
True      38
Name: total_deaths, dtype: int64
True     276
False     52
Name: total_deaths, dtype: int64
False    324
True      53
Name: total_deaths, dtype: int64
False    302
True      33
Name: total_deaths, dtype: int64
False    313
True      23
Name: total_deaths, dtype: int64
False    363
True      23
Name: total_deaths, dtype: int64
False    363
True      23
Name: total_deaths, dtype: int64
False    196
True     183
Name: total_deaths, dtype: int64
False    328
True      52
Name: total_deaths, dtype: int64
False    363
True      22
Name: total_deaths, dtype: int64
False    329
True       6
Name: total_deaths, dtype: int64
False    326
True       6
Name: total_deaths, dtype: int64
False    314
True      38
Name: total_deaths, dtype: int64
False    340
True      42
Name: total_deaths, dtype: int64
False    328
True       7
Name: total_deaths, dtype: int64
False    338
True      18
Name: total_deaths, dtype: int64
True     287
False     40
Name: total_deaths, dtype: int64
False    333
True      28
Name: total_deaths, dtype: int64
False    303
True      33
Name: total_deaths, dtype: int64
False    292
True      32
Name: total_deaths, dtype: int64
False    311
True      18
Name: total_deaths, dtype: int64
False    323
True      15
Name: total_deaths, dtype: int64
False    334
True      11
Name: total_deaths, dtype: int64
False    328
True      23
Name: total_deaths, dtype: int64
False    338
True      41
Name: total_deaths, dtype: int64
False    338
True       9
Name: total_deaths, dtype: int64
False    358
True      13
Name: total_deaths, dtype: int64
False    345
True       9
Name: total_deaths, dtype: int64
False    338
True      11
Name: total_deaths, dtype: int64
False    329
True      29
Name: total_deaths, dtype: int64
False    357
True      21
Name: total_deaths, dtype: int64
False    330
True       8
Name: total_deaths, dtype: int64
False    365
True      22
Name: total_deaths, dtype: int64
False    322
True      24
Name: total_deaths, dtype: int64
False    323
True      13
Name: total_deaths, dtype: int64
False    323
True      20
Name: total_deaths, dtype: int64
False    326
True       9
Name: total_deaths, dtype: int64
False    314
True      40
Name: total_deaths, dtype: int64
False    315
True      16
Name: total_deaths, dtype: int64
True    325
Name: total_deaths, dtype: int64
False    315
True      38
Name: total_deaths, dtype: int64
False    339
True      18
Name: total_deaths, dtype: int64
False    218
True      57
Name: total_deaths, dtype: int64
False    314
True      19
Name: total_deaths, dtype: int64
False    316
True      29
Name: total_deaths, dtype: int64
False    314
True      31
Name: total_deaths, dtype: int64
False    325
True      25
Name: total_deaths, dtype: int64
False    335
True      19
Name: total_deaths, dtype: int64
False    271
True      58
Name: total_deaths, dtype: int64
False    311
True       9
Name: total_deaths, dtype: int64
False    332
True      52
Name: total_deaths, dtype: int64
False    289
True      52
Name: total_deaths, dtype: int64
False    320
True       4
Name: total_deaths, dtype: int64
False    310
True      62
Name: total_deaths, dtype: int64
True    107
Name: total_deaths, dtype: int64
False    319
True      16
Name: total_deaths, dtype: int64
False    328
True       3
Name: total_deaths, dtype: int64
False    330
True      78
Name: total_deaths, dtype: int64
True    22
Name: total_deaths, dtype: int64
False    331
True      10
Name: total_deaths, dtype: int64
False    320
True      29
Name: total_deaths, dtype: int64
True     294
False     45
Name: total_deaths, dtype: int64
False    326
True       6
Name: total_deaths, dtype: int64
False    339
True      32
Name: total_deaths, dtype: int64
False    263
True      64
Name: total_deaths, dtype: int64
False    318
True       4
Name: total_deaths, dtype: int64
False    217
True     118
Name: total_deaths, dtype: int64
False    272
True     112
Name: total_deaths, dtype: int64
False    343
True      11
Name: total_deaths, dtype: int64
False    320
True      30
Name: total_deaths, dtype: int64
False    322
True       8
Name: total_deaths, dtype: int64
False    324
True       5
Name: total_deaths, dtype: int64
False    326
True      24
Name: total_deaths, dtype: int64
False    349
True      38
Name: total_deaths, dtype: int64
False    327
True      25
Name: total_deaths, dtype: int64
False    335
True      20
Name: total_deaths, dtype: int64
False    348
True      36
Name: total_deaths, dtype: int64
False    318
True      36
Name: total_deaths, dtype: int64
False    331
True      22
Name: total_deaths, dtype: int64
False    323
True      21
Name: total_deaths, dtype: int64
False    338
True       2
Name: total_deaths, dtype: int64
False    198
True     131
Name: total_deaths, dtype: int64
False    328
True      14
Name: total_deaths, dtype: int64
False    329
True      14
Name: total_deaths, dtype: int64
False    376
True       3
Name: total_deaths, dtype: int64
False    337
True       8
Name: total_deaths, dtype: int64
False    332
True      20
Name: total_deaths, dtype: int64
False    321
True      28
Name: total_deaths, dtype: int64
False    327
True      25
Name: total_deaths, dtype: int64
False    330
True      48
Name: total_deaths, dtype: int64
False    258
True      77
Name: total_deaths, dtype: int64
True    324
Name: total_deaths, dtype: int64
True     241
False     94
Name: total_deaths, dtype: int64
True     307
False     28
Name: total_deaths, dtype: int64
True    86
Name: total_deaths, dtype: int64
False    346
True       5
Name: total_deaths, dtype: int64
False    287
True      25
Name: total_deaths, dtype: int64
False    325
True      22
Name: total_deaths, dtype: int64
False    317
True      33
Name: total_deaths, dtype: int64
False    329
True      23
Name: total_deaths, dtype: int64
True     296
False     39
Name: total_deaths, dtype: int64
False    295
True      23
Name: total_deaths, dtype: int64
False    328
True      58
Name: total_deaths, dtype: int64
False    317
True      26
Name: total_deaths, dtype: int64
False    335
True      41
Name: total_deaths, dtype: int64
True    123
Name: total_deaths, dtype: int64
False    310
True      23
Name: total_deaths, dtype: int64
False    322
True      49
Name: total_deaths, dtype: int64
False    341
True      15
Name: total_deaths, dtype: int64
False    358
True      30
Name: total_deaths, dtype: int64
False    273
True      40
Name: total_deaths, dtype: int64
False    346
True      31
Name: total_deaths, dtype: int64
False    321
True      61
Name: total_deaths, dtype: int64
False    336
True       1
Name: total_deaths, dtype: int64
False    315
True      20
Name: total_deaths, dtype: int64
False    339
True      38
Name: total_deaths, dtype: int64
False    344
True      41
Name: total_deaths, dtype: int64
False    320
True       7
Name: total_deaths, dtype: int64
False    362
True      31
Name: total_deaths, dtype: int64
False    286
True       2
Name: total_deaths, dtype: int64
False    318
True      15
Name: total_deaths, dtype: int64
False    348
True      57
Name: total_deaths, dtype: int64
True    327
Name: total_deaths, dtype: int64
False    322
True      23
Name: total_deaths, dtype: int64
False    324
True      11
Name: total_deaths, dtype: int64
False    330
True      15
Name: total_deaths, dtype: int64
False    332
True       6
Name: total_deaths, dtype: int64
False    203
True     125
Name: total_deaths, dtype: int64
False    336
True      10
Name: total_deaths, dtype: int64
False    329
True      51
Name: total_deaths, dtype: int64
False    343
True      35
Name: total_deaths, dtype: int64
False    349
True      38
Name: total_deaths, dtype: int64
False    321
True      15
Name: total_deaths, dtype: int64
False    322
True      12
Name: total_deaths, dtype: int64
True    94
Name: total_deaths, dtype: int64
True    343
Name: total_deaths, dtype: int64
False    322
True      13
Name: total_deaths, dtype: int64
False    196
True     190
Name: total_deaths, dtype: int64
False    288
True      20
Name: total_deaths, dtype: int64
False    316
True      15
Name: total_deaths, dtype: int64
False    326
True       3
Name: total_deaths, dtype: int64

In [133]:
for i in t :
    df.total_deaths.fillna(0,inplace = True)

In [134]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [135]:
df[(df.new_cases== 0) & (df.new_cases_smoothed.isnull())]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
354,AF,Africa,Africa,2020-02-13,0.0,0.0,NaN,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67647,ZMB,Africa,Zambia,2020-03-20,2.0,0.0,NaN,0.0,0.0,NaN,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.0,63.89,0.584
67648,ZMB,Africa,Zambia,2020-03-21,2.0,0.0,NaN,0.0,0.0,NaN,...,3689.251,57.5,234.499,3.94,3.1,24.7,13.938,2.0,63.89,0.584
67978,ZWE,Africa,Zimbabwe,2020-03-22,3.0,0.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67979,ZWE,Africa,Zimbabwe,2020-03-23,3.0,0.0,NaN,1.0,1.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67980,ZWE,Africa,Zimbabwe,2020-03-24,3.0,0.0,NaN,1.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [136]:
df[(df.new_cases== 0) & (df.new_cases_smoothed.isnull())].new_cases_smoothed.isnull().sum()

1056

In [137]:
df.new_cases_smoothed.isnull().sum()

1524

In [163]:
# corr=df.corr()
# corr.style.background_gradient(cmap='coolwarm')

In [166]:
test = df[df['new_cases_smoothed'].isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,0.0,0.0,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67976,ZWE,Africa,Zimbabwe,2020-03-20,1.0,1.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67977,ZWE,Africa,Zimbabwe,2020-03-21,3.0,2.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67978,ZWE,Africa,Zimbabwe,2020-03-22,3.0,0.0,NaN,0.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67979,ZWE,Africa,Zimbabwe,2020-03-23,3.0,0.0,NaN,1.0,1.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
67980,ZWE,Africa,Zimbabwe,2020-03-24,3.0,0.0,NaN,1.0,0.0,NaN,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571